@font-face {
    font-family: "miFuente";
    src: url(../fonts/Skater\ Pack.ttf);
}

@font-face {
    font-family: "Fuente2";
    src: url(../fonts/Heaters.otf);
}

body {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@100&display=swap');

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.carruselInicio {
    width: 65%;
}



nav {
    margin: 27px auto 0;

    position: relative;
    width: 590px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(3) {
    width: 100px;
}

a:nth-child(4) {
    width: 160px;
}

a:nth-child(5) {
    width: 120px;
}

a:nth-child(6) {
    width: 10px;
}

nav.start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #e67e22;
}

nav.start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e67e22;
}

nav.start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #e67e22;
}


nav.start-portafolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #e67e22;
}

nav.start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
}

span {
    color: #2BD6B4;
}


.formulario input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    padding: 10px 30px;
    font-size: 17px;
    margin: auto;
    border: 2px solid #9c9c9c;
    background-color: #bdbdbd;
}

.linea {
    border: 2px solid #fff;
}

.IniciaSesion {
    margin-top: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -13px;
}

#modal {
    background-color: #34495e;
}

#modal a {
    text-decoration: none;
    color: #e67e22;
}

#exampleModalLabel {
    background-color: #34495e;
    color: #fff;
}

#header {
    background-color: #34495e;
}

#footer {
    background-color: #34495e;
}

#botonContinuar {
    background-color: #e67e22;
    border: 1px solid #e67e22;
}

#botonCarro {
    background-color: #34495e;
    color: #fff;
    margin-right: 50px;
    margin-top: 30px;

}

.botonCarro1, :hover~.animation {
    width: 100px;
    left: 0;
    background-color: #e67e22;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;

}

#Carrito {
    color: #fff;
}

.hoverBtn {
    transition: .5s all;
}

.hoverBtn:hover {
    background-color: #e67e22 !important;
}

.pepe {
    font-family: "miFuente";
    font-size: 60px;
}

.pepe1 {
    font-family: "Fuente2";
    font-size: 50px;
}

.productosGeneral{
    margin-top: 100px;
}

/* .container{
    width: 100%;
    display: flex;
    max-width: 1100px;
} */

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    border: solid 5px #e67e22;;

}

.card:hover {
    transform: translateY(-3%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
    height: 210px;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid;
    color: #e67e22;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover {
    background: #e67e22;
    color: #34495e;
}

footer {
    background-color: #1b2229;
}

.slider {
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

.slider ::before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: --;
    width: 23.9%;
    height: 110px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #f7f7f7);
}

.slider::after {
    position: absolute;
    right: 0;
    content: --;
    width: 23.9%;
    height: 110px;
    background: linear-gradient(90deg, hsla(0, 0%, 96.9%, 0) hsla(0, 0%, 96.9%, 0.99) 99%);
}

/* .slider .slide-track{
    display: flex;
    animation: scroll 60s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(240px * 10);
} */
.slide {
    display: flex;
}

.slide svg {
    width: 140px;
    height: 80px;
    padding: 10px;
    background-color: #e67e22;
    cursor: pointer;
    margin: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: #FFF;
}

.slide a {
    text-decoration: none;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-240px *5));
        transform: translateX(calc(-240px *5));
    }
}

.col-12{
    margin-right: 200px;
}
.col-12 a{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 80px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}
.col-12 p {
    color: #FFF;
    margin-top: 1px;
}
iframe{
    margin-top: 60px;
    width: 500px;
}
.tarjetas ul{
    display: flex;
    justify-content: space-around;
    padding-left: 0rem;

}
.mapa{
    margin-left:  200px;
}

/* Animacion principal */

.animacion-principal {
    border: 8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}


.hero-section {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.pepito {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.carta {
    position: relative;
    list-style: none;
    gap: 50px;
    width: 220px;
    transition: .4s ease;
}

.carta:before {
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.carta-background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border-radius: 20px;
    background-size: 250px;
    background-position: center;
    filter: brightness(.9) saturate(1) contrast(1);
    transform-origin: bottom;
    transform: scale(1) translateZ(0);
    transition: .3s ease;
}

.carta:hover .carta-background {
    transform: scale(1.15) translateZ(0);
    background-size: 268px;
}

.carta-container:hover .carta:not(:hover) {
    transform: scale(.9);
}

.carta-container:hover>.carta:not(:hover) .carta-background {
    filter: brightness(.5) saturate(0) contrast() blur(20px);
}

.content {
    top: 50%;
    left: 0;
    padding: 25px;
    position: absolute;

}

.carta-category {
    color: #ff5e00;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1px;
    text-transform: uppercase;

}

.carta-heading {
    color: #ffffff;
    font-size: 25px;
    line-height: 1;
    text-shadow: 2px 2px 20px rgba(22, 20, 20, 0.2);
}

/* Lupa */

.src-box { 
    font-size: 20px;
    border: solid .25em #ffffff; 
    display: inline-block; 
    position: relative; 
    border-radius: 2.5em; 
} 

.src-box input[type=text] { 
    text-align: center;
    font-family: inherit; 
    font-weight: bold; 
    color: #ffffff; 
    width: 2.5em; 
    height: 2.5em; 
    background-color: transparent; 
    border: none; 
    box-sizing: border-box; 
    border-radius: 2.5em; 
    transition: width 800ms cubic-bezier(.68, -.55, .27, 1.55) 150ms; 
} 

.src-box input[type=text]:focus { 
    outline: none; 
} 

.src-box input[type=text]:focus, 
.src-box input[type=text]:not(:placeholder-shown) { 
    width: 18em; 
    transition: width 800ms cubic-bezier(.68, -.55, .27, 1.55); 
} 

.src-box input[type=text]:focus + button[type=reset], 
.src-box input[type=text]:not(:placeholder-shown) + button[type=reset] { 
    transform: rotate(-45deg) translateY(0); 
    transition: transform 150ms ease-out 800ms; 
} 

.src-box input[type=text]:focus + button[type=reset]::after, 
.src-box input[type=text]:not(:placeholder-shown) + button[type=reset]::after { 
    opacity: 1; 
    transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms; 
} 

.src-box button[type=reset] { 
    background-color: transparent; 
    width: 1.4em; 
    height: 1.4em; 
    border: 0; 
    padding: 0; 
    outline: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    top: .55em; 
    right: .55em; 
    transform: rotate(-45deg) translateY(2.2em); 
    transition: transform 150ms ease-out 150ms; } 
    
    .src-box button[type=reset]::before, .src-box button[type=reset]::after { 
        content: ""; 
        background-color: #ffffff; 
        width: .3em; 
        height: 1.4em; 
        border-radius: 10px; 
        position: absolute; 
    } 
    
    .src-box button[type=reset]::after { 
    transform: rotate(90deg); 
    opacity: 0; 
    transition: transform 150ms ease-out, opacity 150ms ease-out; 
}

.container1{
    display: flex; 
    justify-content: end; 
    align-items: center;  
    margin: 15px;
    position: absolute;
    left: -9%;
    

}

#load {
    position: absolute;
}